body{
    background-color: #F9D923;
}
.flex-contianer{
    display: flex;
    flex-flow: row;
    background-color: #EB5353;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-flow: row;
    background-color: wheat;
    margin: 10px;
    padding: 10px;
    color: #187498;
}
.flex-contianer-1{
    justify-content: stretch;
}
.content{
    display: flex;
    flex-flow: row wrap;
}
.flex-contianer-1>div{
    margin: 10px;
    padding: 10px;
    flex-basis: 2rem;
    text-align: center;
}
.content>div{
    justify-content: space-evenly;
    flex-grow: 3;
}
.logo{
    margin: 10px;
    padding: 10px;
}
.banner{
    align-items: stretch;
}
img{
    padding: 10px;
    margin: 10px;
}
.icons div{
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}
