div{
    border: 1px solid black;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    background-color: lightgray;
}
.flex-container-2{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.flex-container>div{
    margin: 10px;
    padding: 10px;
    background-color: gray;
    flex-basis: 2rem;
}
.flex-contianer-2>div{
    padding: 10px;
    
}
.menu>div{
    background-color: gray;
    padding: 5px 30px 5px 10px;
    margin: 10px;
}
.content{
    flex-grow: 4;
    padding: 10px;
}
